body {
  margin: 0;
  font-family: sans-serif;
  background-color: #aaef90;
  color: #333;
  font-size: 1.2em;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#root {
  margin: 2em auto;
  max-width: 40em;
}

.main {
  width: 66%;
  float: left;
}

.user-list {
  float: right;
  width: 33%;
}

.user-list a {
  display: block;
}

.img-list a {
  display: inline-block;
  width: 30%;
  margin: .5em 1%;
}

.comment-list article {
  border: 1px solid #999;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em
}
